{% extends 'base.html' %}

{% block content %}
<div class="flex justify-center items-center">
  <div class="w-full max-w-md bg-white dark:bg-slate-800 shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-2xl mb-6 text-center font-bold text-purple-950 dark:text-purple-300">Password Reset Complete</h2>
    <p class="text-slate-700 dark:text-slate-300 mb-6">Your password has been set. You may go ahead and log in now.</p>
    <div class="text-center">
      <a 
        href="{% url 'login' %}" 
        class="inline-block bg-emerald-700 hover:bg-purple-900 hover:ease-in duration-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        Log in
      </a>
    </div>
  </div>
</div>
{% endblock %}
