{% extends 'base.html' %}

{% block content %}
<div class="flex justify-center items-center h-screen bg-purple-900">
  <div class="w-full max-w-md bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-2xl mb-6 text-center font-bold text-purple-900">Password Reset Complete</h2>
    <p class="text-purple-900 mb-4">Your password has been set. You may go ahead and log in now.</p>
    <a href="{% url 'login' %}" class="btn-primary block text-center">Log in</a> 
  </div>
</div>
{% endblock %}