{% extends 'base.html' %} 

{% block title %}{{ idea.content|truncatechars:50 }}
{% endblock %} 

{% block content %}
<div id="alert">
  {% if messages %}
  <ul class="messages mb-6">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<div class="bg-white dark:bg-slate-800 shadow-md rounded-lg p-6">
  <h1 class="text-3xl font-bold mb-4 text-slate-900 dark:text-white">{{ idea.content }}</h1>

  <p class="text-gray-600 dark:text-gray-400 mb-4">
    Created on {{ idea.created_at|date:"M d, Y" }}
  </p>
  {% if idea.side_notes %}
  <h2 class="text-xl font-semibold mb-2 text-purple-950 dark:text-purple-300">Side Notes</h2>
  <p class="mb-4 text-slate-700 dark:text-slate-300">{{ idea.side_notes }}</p>
  {% endif %}
  <div class="grid grid-cols-2 gap-4 mb-4">
    <div>
      <h3 class="font-semibold text-purple-950 dark:text-purple-300">Start Date</h3>
      <p class="text-slate-700 dark:text-slate-300">{{ idea.start_date|date:"M d, Y H:i" }}</p>
    </div>
    <div>
      <h3 class="font-semibold text-purple-950 dark:text-purple-300">Due Date</h3>
      <p class="text-slate-700 dark:text-slate-300">{{ idea.due_date|date:"M d, Y H:i"|default:"Not set" }}</p>
    </div>
  </div>
  {% if idea.category %}
  <div class="flex gap-2">
    <p class="mb-2 text-slate-700 dark:text-slate-300">
      <strong class="text-purple-950 dark:text-purple-300">Category:</strong> {{ idea.category }}
    </p>
  </div>
  {% endif %} 
  
  {% if idea.tags.all %}
  <p class="mb-4">
    <strong class="text-purple-950 dark:text-purple-300">Tags:</strong>
    {% for tag in idea.tags.all %}
    <span
      class="bg-emerald-700 text-white px-2 py-1 rounded-full text-sm mr-2"
      >{{ tag }}</span
    >
    {% endfor %}
  </p>
  {% endif %}
  {% if idea.user == request.user %}
    <div class="mt-6 flex space-x-4">
      <a
        href="{% url 'idea_update' idea.pk %}"
        class="bg-emerald-700 text-white py-2 px-4 rounded hover:bg-purple-900 hover:ease-in duration-300"
      >
        Edit Idea
      </a>
      <a
        href="{% url 'idea_delete' idea.pk %}"
        class="bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700 hover:ease-in duration-300"
      >
        Delete Idea
      </a>
    </div>
  {% endif %}
</div>
<div class="flex md:w-96 justify-between mt-6 mx-4">
  <a 
    href="{% url 'idea_create' %}" 
    class="font-bold text-purple-950 dark:text-purple-300 hover:text-purple-800 dark:hover:text-purple-400 hover:ease-in duration-300"
  >
    Create New Idea
  </a>
  <a 
    href="{% url 'home' %}" 
    class="font-bold text-emerald-700 dark:text-emerald-500 hover:text-emerald-600 dark:hover:text-emerald-400 hover:ease-in duration-300"
  >
    Back to Home
  </a>
</div>
{% endblock %}
